*{
	box-sizing: border-box;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
	margin: 0 auto;
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
}
header h1{ 
	color: #282e3a;
	font-size: 3rem;
	font-weight: 300;
}
body{
	display: flex;
	color: #d68383;
	background-color: #5dc0ee;
	flex-direction: column;
	min-height: 100vh;
}
main{
	flex: 1 1 0%;
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}
input,button{
	appearance: none;
	background: none;
	border: none;
	outline: none;
}
#task-form{
	display: flex;
}
#task-input{
	padding: 1rem;
	color: #282e3a;
	border-radius: 1rem;
	font-size: 1.5rem;
	margin-right: 1rem;
	flex: 1 1 0%;
	background-color: rgb(226, 218, 218);
}
#task-submit{
	cursor: pointer;
	transition: 0.5s;
	color: #008922;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 750;
	font-size: 1.5rem;
	background-color: #008922;
}
.task-list{
	padding: 1rem;
}
.task-list h2{
	font-size: 1.5rem;
	font-weight: 300;
	color: #282e3a;
	margin-bottom: 1rem;
}
#tasks .task{
	display: flex;
	border-radius: 1rem;
	justify-content: space-between;
	margin-bottom: 1rem;
	background-color: #41403e;
	padding: 2rem;	
}
.task .content{
	flex: 1 1 0%;
}
.task .content .text{
	color: rgb(226, 218, 218);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}
.task .content .text:not(:read-only){
	color: #008922;
}
.task .actions{
	display: flex;
	margin: 0 -0.5rem;
}
.task .actions button{
	font-size: 1.125rem;
	cursor: pointer;
	font-weight: 700;
	margin: 0 0.5rem;
	transition: 0.4s;
}
.task .actions .edit{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: #008922;
}
.task .actions .delete{
	color: crimson;
}
